* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600 800;
  font-style: normal;
}
.container {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.main {
  background-color: hsl(0, 0%, 100%);
  width: 360px;
  display: grid;
  border: 1px solid black;
  border-radius: 3%;
  box-shadow: 6px 9px;
}
.svg {
  width: 330px;
  display: block;
  margin: auto;
  margin-top: 3%;
  border-radius: 4%;
}
span.l {
  background-color: hsl(47, 88%, 63%);
  padding: 6px;
  border-radius: 7%;
}
h1 {
  font-size: 23.5px;
}
h1:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}
p.p {
  color: hsl(0, 0%, 7%);
  font-size: small;
}
p.t {
  color: hsl(0, 0%, 42%);
  font-size: ;
}
.align {
  margin-left: 4%;
}
span.l {
  display: inline-block;
  margin-top: 7%;
}
.p,
h1,
.t,
.gregg {
  margin-top: 4%;
  display: inline-block;
}
.avatar {
  width: 25%;
}
p.g {
  float: right;
  margin-top: 8%;
  font-size: small;
  margin-right: 10%;
  font-weight: 700;
}